body {
    background-color: red;
    font-family: Times New Roman;
}

img {
    
    width: 120px;
    height: 120px;
    border: 3px solid black;
    border-radius: 50%;
     margin-left: 100px;
    
}

/* ========== Header ========== */
.header {
  background-color: #4f46e5;
  color: white;
  text-align: center;
  padding: 20px;
  border-bottom: 4px solid #3730a3;
  .container {
  display: flex; /* Aktifkan flexbox */
  justify-content: center; /* Mengatur posisi horizontal */
  align-items: center; /* Mengatur posisi vertikal */
  height: 100vh;
  background-color: #f0f0f0;
}

/* Header */
.header {
  background-color: #0077cc;
  color: white;
  text-align: center;
  padding: 10px;
  /* Navigasi */
.nav {
  background-color: #005fa3;
}
.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.nav li {
  margin: 10px 20px;
}
.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.nav a:hover {
  text-decoration: underline;
}
}
 